[submodule "neovim"]
	path = .config/nvim
	url = https://github.com/AstroNvim/AstroNvim

[submodule "neovim config"]
  path = .config/nvim/user
  url = https://github.com/daltonkyemiller/astronvim_config
