# ignore everything from the root by default
/*

# .config mostly neovim
!/.config/
!/.config/nvim/lua/user/
/.config/raycast/
/.config/github-copilot/
/.config/yarn/

# zsh
!.zshrc
!.oh-my-zsh/

# git
!.gitignore
!.gitmodules

# yabai
!.yabairc

# skhd
!.skhdrc

# tmux
!.tmux.conf

# wallpaper
!.wallpaper/

