
# ignore everything from the root by default
/*
.DS_STORE

# .config mostly neovim
!/.config/
!/.config/nvim/
/.config/nvim.bak/
/.config/qBittorrent/
/.config/configstore/
/.config/raycast/*
/.config/github-copilot/
/.config/yarn/

# zsh
!.zshrc
!.zsh
!.oh-my-zsh/
!.zprofile

# git
!.gitignore
!.gitmodules

# yabai
!.yabairc

# skhd
!.skhdrc

# tmux
!.tmux.conf

# wallpaper
!.wallpaper/

